services:
  dotnet:
    container_name: dotnet-peshop
    build:
      context: .
      dockerfile: Dockerfile
    image: peshop:latest
    ports:
      - "5000:5000"
    restart: unless-stopped
    networks:
      - shared_network

networks:
  shared_network:
    external: true
